{% extends 'messaging/base.html' %}

{% block content %}
    <h2>Your Messages</h2>

    <h3>Sent Messages</h3>
    <ul>
        {% for message in sent_messages %}
            <li>{{ message.content }} - sent to {{ message.receiver.username }} on {{ message.timestamp }}</li>
        {% endfor %}
    </ul>

    <h3>Received Messages</h3>
    <ul>
        {% for message in received_messages %}
            <li>{{ message.content }} - received from {{ message.sender.username }} on {{ message.timestamp }}</li>
        {% endfor %}
    </ul>
{% endblock %}
